<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
">
    <!-- 扫描所有包下注解 -->
    <context:component-scan base-package="com.qf.*">
        <!-- 剔除controller层的扫描，以免与mvc中的扫描配置发生冲突 -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 分层配置，需要在主配置中引入其他的子配置文件 -->
    <import resource="spring-mvc.xml"/>
    <import resource="spring-mybatis.xml"/>

</beans>
